
<a href="/#/mylocation/edit/{{id}}">Edit Location</a>

<div class="col-md-3">
    <img src="{{icon_url}}" alt="{{icon}}">
</div>

<div class="col-md-9">
    <h4>{{conditions}}</h4>
    <hr/>
    Temp: {{temp_f}} <br>
    Humidity: {{relative_humidity}} <br>
    Wind: {{wind_string}} <br>
    Precip: {{precip_today_string}}
    <hr/>
</div>