
<a href="/#/mylocation/edit/{{id}}">Edit Location</a>

<div class="col-xs-12">
    <h5>Current Conditions <img src="{{icon_url}}" alt="{{icon}}"></h5>

    <hr/>
    Temp: {{temp_f}} <br>
    Humidity: {{relative_humidity}} <br>
    Wind: {{wind_string}} <br>
    Precip: {{precip_today_string}}
</div>